{% extends 'base.html' %}

{% block title %}{{ data.city }}{% endblock %}

{% block content %}
    <div class="event_of_city">
    <div class="event_events">Праздники:</div>
    {% for event in data.events %}
        <div>
            <div class="event_name">Праздник - {{ event.eventTitle }}</div>
            <div>Описание:</div>
            <div>{{ event.description }}</div>
            <img src="{{ event.img }}" alt="my img">
        </div>
    {% empty %}
        <li>Список пуст</li>
    {% endfor %}
    </div>
{% endblock %}
