{% extends 'base.html' %}

{% block title %}{{ data.event }}{% endblock %}

{% block content %}
    <div class="event_information">
            <div>Мероприятие - {{data.name}}</div>
            <div>Дата проведения - {{data.date_event}}</div>
            <div>Описание - {{ data.description }}</div>
            <div>Цена: {{ data.price }}руб.</div>
            <div>Продолжительность мероприятия: {{ data.duration }} ч.</div>

    </div>
    <form action="{% url 'delete_event' id=data.id_event %}">
        <button type="submit" class="btn">
            Удалить мероприятие - {{ data.name }}
        </button>
    </form>
{% endblock %}
